.phoneFrame {
    /* Dimensões e Centralização do Frame do Celular */
    width: 393px;
    height: 80vh; 
    max-width: 100%; 
    margin: 0 auto; 
    
    /* Estilo da Moldura */
    border: 12px solid #294134; 
    border-radius: 30px; 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); 
    overflow: hidden; 
}

.iframe {
    /* O Iframe preenche a Moldura */
    width: 100%;
    height: 100%;
    border: none;
}