.phoneFrame {
    /* Ocupa o espaço restante em um container flex */
    flex: 1;
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden; /* Mantém o conteúdo do iframe dentro dos limites */
}

.iframe {
    /* O Iframe preenche a tela inteira */
    width: 100%;
    height: 100%;
    border: none;
}